:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #f2d1d1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1, h2, h3, h4 {
  line-height: 1.1;
  color: black;
}

li {
  list-style-type: none;
  color: black;
}
p{
  color: #000000;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  margin: 1em;
  font-size: 1em;
  font-weight: 500;
  max-width: 10em;
  font-family: inherit;
  background-color: #6c43ad;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

label {
  color:black;
}

#userComment {
  background-color: white;
}

.header {
  border: 3px solid green;
}

.home {
  border: 3px solid rgb(87, 146, 186);
}

.navigation {
  border: 3px solid rgb(198, 203, 45);
}

.users {
  border: 3px solid rgb(209, 62, 170);
}

.nav-link {
  padding: 9px;
  background-color: rgb(244, 168, 189);
  margin: 5px;
  color: #000000;
  border-radius: 12px;
}

.review-list {
  border: 2px solid rgb(71, 52, 136);
  margin: 10px;
  padding: 5px;
  line-height: 0.7rem;
  background-color: rgb(244, 219, 219);
  border-radius: 25px;

}

.single-review-image {
  max-width: 600px;
}

.avatar-image {
  width: 50%;
}

.single-review {
  border: 2px solid salmon;
  max-width: 600px;
}

.comments-section {
  border: 2px solid rgb(230, 20, 132);
  text-align: left;
  padding: 10px;
}

.single-comment {
  background-color: #a18fde;
  word-wrap: break-word;
}

.add-comment {
  border: 2px solid goldenrod;
  padding: 3%;
}

.form {
  display: flex;
  flex-direction: column;
}

.users-list {
  border: 2px solid blueviolet;
}

.user-card {
  border: 2px solid firebrick;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f12424;
  }
}
